@charset "utf-8";
@-moz-viewport {
    width: device-width;
    scale: 1;
}
@-ms-viewport {
    width: device-width;
    scale: 1;
}
@-o-viewport {
    width: device-width;
    scale: 1;
}
@-webkit-viewport {
    width: device-width;
    scale: 1;
}
@viewport {
    width: device-width;
    scale: 1;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-size: 100%;
    font-family: Helvetica, Trebuchet, sans-serif;
}

img {
    width: 100%;
    display: block;
}

body {
    margin: 0;
    padding: 0;
    color: #000;
    background-color: #9CF;
}

.masthead {
    background-color: #000;
    overflow: hidden;
}

.logo {
    height: 2.5rem;
    width: auto;
    margin: 1rem auto;
}

.billboard {
    overflow: hidden;
    background-image: url(../images/origami.jpg);
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60rem;
}

h1 {
    margin: auto 0 1rem;
    padding: 0;
    font-family: Helvetica, Trebuchet, sans-serif;
    font-weight: normal;
    font-size: 2rem;
    font-style: italic;
    color: #9CF;
    letter-spacing: -0.25rem padding: 1.5rem 5%;
    text-align: center;
}

h1 span {
    color: white;
    font-style: normal;
}

blockquote {
    margin: 2rem auto 2rem;
    padding: 0 0 0 15%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .6);
    font-family: Helvetica, Trebuchet, sans-serif;
}

blockquote span {
    font-weight: normal;
    font-style: oblique;
    float: right;
    margin: 1.5rem 0;
    color: white;
}

blockquote p {
    font-size: .875rem;
    color: #FFF;
    padding: 1.5rem;
    margin: auto 2rem auto -2rem;
}

blockquote p:before {
    content: "“";
    font-size: 3rem;
    color: #9CF;
    float: left;
    margin: -.75rem 2% 2rem;
}

blockquote p:after {
    content: "”";
    font-size: 2rem;
    position: absolute;
    color: #9CF;
    margin: -.1rem 0 0 .3rem;
}

article p:first-child {
    font-family: Helvetica, Trebuchet, sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    color: #9CF;
    background-color: #000;
    margin: -2rem;
    padding: 2rem;
}

article {
    margin: 0;
    padding: 1rem 5%;
    overflow: hidden;
}

.dropcap:first-letter {
    font-size: 4rem;
    font-weight: bold;
    float: left;
    margin: -0.5rem 1%;
    color: #FFF;
}

h2 {
    font-family: Helvetica, Trebuchet, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: #000;
    margin: 0;
    border-top: 1px;
}

hr {
    color: #000;
    width: 75%;
}

p {
    margin: 3rem 0 3rem;
}

.bodyinfo {
    font-weight: lighter;
    font-size: 0.9rem;
    line-height: 1.2rem;
}

img {
    border-radius: 1rem;
}

figure {
    background-color: #000;
    margin: 0.25rem auto;
    border-radius: 1rem;
}

figcaption {
    color: #9CF;
    padding: 1rem;
    margin-bottom: 1rem
}

footer {
    background-color: #000;
    overflow: hidden;
}

footer p {
    color: #FFF;
    font-weight: lighter;
    font-size: 0.9rem;
    line-height: 1.2rem;
    overflow: hidden;
}

footer a {
    color: white;
}